
 body {

  width: 770px;
  height: 560px;
  margin-bottom: auto;
  padding-bottom: 0%;
  background-color: black;
}

  .button {
    background-color: #4CAF50;
    border-color: #2d3031;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-left: auto;
  }
  textarea {
    width: 100%;
    resize: none;
    border: #2d3031 solid 1px;
  }

#textarea-container {
 display: flex;
 width:100%;
}

#outage-container {
  display: inline;
  flex-direction: row;
  width: 100%;

}
#outage-period {
  width:100%;
  display: inline;
}

#situation-select {
  width:100%;
  display: inline;
  margin-right: auto;
}
#additional, #report-date, #outage-from, #outage-to,  #outage-period, #situation-select {
  background-color: lightcyan;
}
label, #description, #output-title{
  color: lightcyan;
}
#filter-type, #filter-field, #filter-value, #filter-clear{
 background-color: lightgray;

}

#output-title {
  background-color: #484848;

}